{% extends 'base.html.twig' %}

{% block title %}Bienvenue{% endblock %}

{% block nav %}{% endblock %}

{% block content %}
<div>
    <h1>Hello</h1>
</div>
<div>
<h1>Email : {{ newsletterItem.email }} </h1>
</div>
{% endblock %}

{% block footer %}{% endblock %}