{% extends 'racine.html.twig' %}

{% block body %}

{% block nav %}{% include 'nav.html.twig' %}{% endblock %}

{% block content %}{% endblock %}

{% block footer %}
<div class="text-center">
    <p>Rencontre.com -2019</p>
</div>
{% endblock %}
        
{% endblock %}



