{% block nav %}
<ul class="nav">
  <li class="nav-item">
    <a class="nav-link active" href="#">Tableau de bord ({{ app.user.login }})</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{{ path('admin_contact_index')}}">Demandes de contact</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{{ path('admin_newsletter_index')}}">Gérer les newsletters</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{{ path('app_logout')}}">Deconnexion</a>
  </li>
</ul>
{% endblock %}