{% block nav %}
<ul class="nav">
  <li class="nav-item">
    <a class="nav-link active" href="{{ path('admin_contact_index') }}">Tableau de bord</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{{ path('admin_contact_index')}}">Demandes de contact</a>
  </li>
</ul>
{% endblock %}